# INTODUCTION TO PYTHON  

A porgram is a set of instruction that tells the computer what to do. Python is an inerpreted language. The latest version is python 3.

### Downloading python

In [ ]:
... # Fill this place

### High level language vs low level language

In [ ]:
... # Fill this place

### Print statement

To display, we simply use the print() fuction. Run the code below

In [ ]:
print("Hello, world")

### Task 1.0

Use the print function to print the line "I Love Programming"

In [ ]:
# Write your code here
...

### Printing new line

New line can be printed using an empty print() function. Run the code below

In [ ]:
# The code below will print a newline before the newxt one
print("I love programming")
print()
print("Python")

### Escape charater

We can modify the the prvious code using an escape character. \ is used to escape character. e.g \n will create a new line.
Lets modify the previous task

In [ ]:
# Run this cell
print("I love programming\nPython")

Position and keyword arguement

What we pass into a function are called arguements. positonal arguements

In [ ]:
print("My name is monthy python", end="-")
print("Good learning")

In [ ]:
print("My name","is monthy", "python", sep="*", end="")
print("Good learning")

### Python datatyypes

The datatype in python are
1. float: any decimal number 0.1, 4.2 etc
2. integer: positive and negatve non negative numbers 1, -3 etc
3. String: A sequence of Characters enclosed in double quotes eg "Hello"

In [ ]:
print(2.0 * 2.1) # float
print(45 + 12) # integer
print("Hello python") # string

### Arithmentic operators

In [ ]:
"""
Fellow interns should work on it.

Things to work on 
1. Addition (+)
2. Subtraction (-)
3. Exponential (**)
4. Interger division (//)
5. Modulo operator (%)

Fellow interns are also expected to build examples below
"""

In [ ]:
# Example of each operator above should be hereb

### Operators and their priorities

In [ ]:
"""

Priority   Operator
1          **
2          +, - (note: unary operators located next to the right of the power operator bind more strongly)	unary
3          *, /, //, %
4          +, - binary

Fellow interns are to build up examples

e,g print((5 * ((25 % 13) + 100) / (2 * 13)) // 2)
"""

### Variables

Variables are container that hold data. The value in a variable is temporary and can change abytime

In [ ]:
name =  "Israel"
print("my name is", name)

In [ ]:
var = 1
print(var)
var = var + 1
print(var)

In [ ]:
var = 100
var = 200 + 300
print(var)

In [ ]:
a = 3.0
b = 4.0
c = (a ** 2 + b ** 2) ** 0.5
print("c =", c)

### Rules of forming a variable

In [ ]:
# Fellow interns to work on it

### keywords

Keywords are reserved words. They cannot be used as variable. examples of keywords are:
    import, as, True, in, not

### Task 2

Your task is to:

create the variables: john, mary, and adam;
assign values to the variables. The values must be equal to the numbers of fruit possessed by John, Mary, and Adam respectively;
having stored the numbers in the variables, print the variables on one line, and separate each of them with a comma;
now create a new variable named total_apples equal to addition of the three former variables.
print the value stored in total_apples to the console;
experiment with your code: create new variables, assign different values to them, and perform various arithmetic operations on them (e.g., +, -, *, /, //, etc.). Try to print a string and an integer together on one line, e.g., "Total number of apples:" and total_apples.

In [ ]:
#Solution
john = 3
mary = 5
adam = 6

print(john, mary, adam, sep=',')

total_apples = john + mary + adam
print(total_apples)

# peter = 12.5
# suzy = 2
# print(peter / suzy)
# print("Total number of apples:", total_apples)

### Shortcut operators

In [ ]:
# Fellow interns to work on it

Scenario
Miles and kilometers are units of length or distance.

Bearing in mind that 1 mile is equal to approximately 1.61 kilometers, complete the program in the editor so that it converts:

miles to kilometers;
kilometers to miles.
Do not change anything in the existing code. Write your code in the places indicated by ###. Test your program with the data we've provided in the source code.


Pay particular attention to what is going on inside the print() function. Analyze how we provide multiple arguments to the function, and how we output the expected data.

Note that some of the arguments inside the print() function are strings (e.g., "miles is", whereas some other are variables (e.g., miles).

In [ ]:
# Solution
kilometers = 12.25
miles = 7.38

miles_to_kilometers = ###
kilometers_to_miles = ###

print(miles, "miles is", round(miles_to_kilometers, 2), "kilometers")
print(kilometers, "kilometers is", round(kilometers_to_miles, 2), "miles")

### Input() function

In [ ]:
# fellow interns to work on it

### Type casting

### Concatenation

### Boolean operator

When computer compares two values e,g 2 and 3. it give two answers, True or False. A boolean opeator gives either  a true of a false

In [ ]:
2==2

### Comparison: equality operator

The comparison operator is == . It is different from = (assignment operator)

examples of comparison operators are:
1. == equal to
2. != not equal to
3. <= less than or equal
4. >= greater or equat

In [ ]:
a = 4
b = 5
print(a>b)

### Task 3

Scenario
Using one of the comparison operators in Python, write a simple two-line program that takes the parameter n as input, which is an integer, and prints False if n is less than 100, and True if n is greater than or equal to 100.

Don't create any if blocks (we're going to talk about them very soon). Test your code using the data we've provided for you.

Test Data

Sample input: 55

Expected output: False

Sample input: 99

Expected output: False

Sample input: 100

Expected output: True

Sample input: 101

Expected output: True

Sample input: -5

Expected output: False

Sample input: +123

Expected output: True

In [ ]:
# solution
n = int(input("Enter a number: "))
print(n >= 100)

### Conditional execution: the if statement

Some conditions depends on the previous condition. For example

if rain is falling:
    stay indoor
else:
    play outside
    
We can only play ouside if rain is not falling.

### Task 3 using if else statement

In [ ]:
n = int(input("Enter a number: "))
if n >= 100:
    print("True")
else:
    print("False")

### Nested if-else statements

Study the structure below

if the_weather_is_good:
    if nice_restaurant_is_found:
        have_lunch()
    else:
        eat_a_sandwich()
else:
    if tickets_are_available:
        go_to_the_theater()
    else:
        go_shopping()

### The elif statement

Another special case is the elif statement. Study the structure below

if the_weather_is_good:
    go_for_a_walk()
elif tickets_are_available:
    go_to_the_theater()
elif table_is_available:
    go_for_lunch()
else:
    play_chess_at_home()

#### Example 1: write a program to identify the larger of two numbers:

In [ ]:
number1 = int(input("Enter the first number: "))
number2 = int(input("Enter the second number: "))

# Choose the larger number
if number1 > number2:
    larger_number = number1
else:
    larger_number = number2

# Print the result
print("The larger number is:", larger_number)

### Task 4

Scenario
Spathiphyllum, more commonly known as a peace lily or white sail plant, is one of the most popular indoor houseplants that filters out harmful toxins from the air. Some of the toxins that it neutralizes include benzene, formaldehyde, and ammonia.

Imagine that your computer program loves these plants. Whenever it receives an input in the form of the word Spathiphyllum, it involuntarily shouts to the console the following string: "Spathiphyllum is the best plant ever!"


Write a program that utilizes the concept of conditional execution, takes a string as input, and:

prints the sentence "Yes - Spathiphyllum is the best plant ever!" to the screen if the inputted string is "Spathiphyllum" (upper-case)
prints "No, I want a big Spathiphyllum!" if the inputted string is "spathiphyllum" (lower-case)
prints "Spathiphyllum! Not [input]!" otherwise. Note: [input] is the string taken as input.

Test your code using the data we've provided for you. And get yourself a Spathiphyllum, too!


Test Data
Sample input: spathiphyllum

Expected output: No, I want a big Spathiphyllum!

Sample input: pelargonium

Expected output: Spathiphyllum! Not pelargonium!

Sample input: Spathiphyllum

Expected output: Yes - Spathiphyllum is the best plant ever!

In [ ]:
# Solution
name = input("Enter flower name: ")

if name == "Spathiphyllum":
    print("Yes - Spathiphyllum is the best plant ever!")
elif name == "spathiphyllum":
    print("No, I want a big Spathiphyllum!")
else:
    print("Spathiphyllum! Not", name + "!")

### Task 5

## Scenario
Once upon a time there was a land - a land of milk and honey, inhabited by happy and prosperous people. The people paid taxes, of course - their happiness had limits. The most important tax, called the Personal Income Tax (PIT for short) had to be paid once a year, and was evaluated using the following rule:

if the citizen's income was not higher than 85,528 thalers, the tax was equal to 18% of the income minus 556 thalers and 2 cents (this was the so-called tax relief)
if the income was higher than this amount, the tax was equal to 14,839 thalers and 2 cents, plus 32% of the surplus over 85,528 thalers.
Your task is to write a tax calculator.

It should accept one floating-point value: the income.
Next, it should print the calculated tax, rounded to full thalers. There's a function named round() which will do the rounding for you - you'll find it in the skeleton code in the editor.
Note: this happy country never returns money to its citizens. If the calculated tax is less than zero, it only means no tax at all (the tax is equal to zero). Take this into consideration during your calculations.

Look at the code in the editor - it only reads one input value and outputs a result, so you need to complete it with some smart calculations.

Test your code using the data we've provided.

Test Data
Sample input: 10000

Expected output: The tax is: 1244.0 thalers

Sample input: 100000

Expected output: The tax is: 19470.0 thalers

Sample input: 1000

Expected output: The tax is: 0.0 thalers

Sample input: -100

Expected output: The tax is: 0.0 thalers

### Task 6

### Scenario
As you surely know, due to some astronomical reasons, years may be leap or common. The former are 366 days long, while the latter are 365 days long.

Since the introduction of the Gregorian calendar (in 1582), the following rule is used to determine the kind of year:

if the year number isn't divisible by four, it's a common year;
otherwise, if the year number isn't divisible by 100, it's a leap year;
otherwise, if the year number isn't divisible by 400, it's a common year;
otherwise, it's a leap year.
Look at the code in the editor - it only reads a year number, and needs to be completed with the instructions implementing the test we've just described.

The code should output one of two possible messages, which are Leap year or Common year, depending on the value entered.

It would be good to verify if the entered year falls into the Gregorian era, and output a warning otherwise: Not within the Gregorian calendar period. Tip: use the != and % operators.

Test your code using the data we've provided.

Test Data
Sample input: 2000

Expected output: Leap year

Sample input: 2015

Expected output: Common year

Sample input: 1999

Expected output: Common year

Sample input: 1996

Expected output: Leap year

Sample input: 1580

Expected output: Not within the Gregorian calendar period

In [ ]:
# Solution 

year = int(input("Enter a year: "))

if year < 1582:
    print("Not within the Gregorian calendar period")
else:
    if year % 4 != 0:
    print("Common year")
    elif year % 100 != 0:
        print("Leap year")
    elif year % 400 != 0:
        print("Common year")
    else:
        print("Leap year")